<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Consulta de Vuelos</title>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AA2000</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Arribos</a>
            <a class="nav-link" href="#">Partidas</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="card text-center mx-auto" style="max-width: 400px">
        <div class="card-header">Arribos</div>
        <div class="card-body">
          <h2 class="card-title">Código de vuelo</h5>
          <p class="card-text">Ingresá abajo el código de tu vuelo</p>
          <div class="row g-3 align-items-center justify-content-center">
            <form action="/buscarArribo" method="POST">
              <div class="col-auto">
                <input type="text" name="codigoArribo" class="form-control mx-auto" style="max-width: 200px">
              </div>
              <div class="col-auto">
                <span class="form-text">
                  Ej: BA 245.
                </span>
              </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary mt-4 mb-2">Buscar Arribo</button>
          </form>
          <a href="/ver-arribos" class="btn btn-lg btn-outline-info mt-4 mb-2">Ver todos los arribos</a>
        </div>
        <div class="card-footer text-success">Conectado</div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
